ul Link {
  text-decoration: none;
  color: inherit;
  text-shadow: none;
  background-image: none;
}

ul h3 span {
  color: #bbb;
}

.linkStyles {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
