body {
  height: 100%;
}

@media screen and (min-width: 500px) {
  .pageLayout {
    margin: 3rem auto;
    max-width: 700px;
  }

  .cancelLinkStyle {
    text-shadow: none;
    background-image: none;
    text-decoration: none;
  }

  .linkList {
    list-style: none;
    float: right;
  }
}

@media screen and (max-width: 500px) {
  ul {
    margin-top: 1rem;
  }

  .pageLayout {
    margin: 3rem auto;
    max-width: 100%;
    text-align: center;
  }

  .cancelLinkStyle {
    text-shadow: none;
    background-image: none;
    text-decoration: none;
  }

  .cancelLinkStyle h1 {
    display: block;
  }
  .cancelLinkStyle body {
    display: block;
  }
}
